extends layout 

block content 
    h1= title 
    
    div.items-container
        each brand in brand_list 
            a.item-container(href=brand.url) 
                p #{brand.name}

        else    
                p No brands found 