extends layout 

block content 
    h1= title 
    img.section-img(src='/images/brands.jpg')
    div.categories-container 
        each brand in brand_list 
            a.category-container(href=brand.url) 
                p #{brand.name}

        else    
                p No brands found 