extends layout 

block content 
    h1= title
    img.secction-img(src='/images/categories.jpg')
    div.categories-container  
        each category in category_list
            a.category-container(href=category.url) 
                ion-icon(name='musical-note-outline')
                p #{category.name}

        else 
            p No categories found