extends layout 

block content 
    h1= title
    div.items-container 
        each category in category_list
            a.item-container(href=category.url) 
                p #{category.name}

        else 
            p No categories found