extends layout 

block content 
    h1= title
    img.section-img(src='/images/categories.jpg')
    div.items-container 
        each category in category_list
            a.item-container(href=category.url) 
                ion-icon(name='musical-note-outline')
                p #{category.name}

        else 
            p No categories found