extends layout

block content
  div.home-container
    img(src='/images/gear-hero.jpg' alt='Recording studio')

    div.hero
      h1= title
      p.description Welcome to the Gear Wishlist, a Node.js CRUD app to help keep track of some of the musical gear that I hope to the collection someday. 

      if error 
        p No gear found.
      else  
        p The list currently contains <b>!{data.item_count}</b> items from <b>!{data.brand_count}</b> brands.

      a.btn(href='/catalog/items') See the gear