extends layout

block content
  div.home-container
    img(src='/images/gear-hero.jpg' alt='Recording studio')

    div.hero
      h1= title
      p.description Welcome to #{title}, a Node.js CRUD app to help keep track of some of the musical gear that I dream of owning some day. 

      if error 
        p No gear found.
      else  
        p The list currently contains !{data.item_count} items and !{data.brand_count} brands.

