doctype html
html(lang='en')
  head
    title= 'Gear Wishlist'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.body-container
      nav
        div.burger-menu
          span(class="material-icons md-18") menu
        div.sidebar
          a.sidebar-link(href='/catalog')
            span(class="material-icons md-18") home
            p Home          
          a.sidebar-link(href='/catalog/items') 
            span(class="material-icons md-18") music_note
            p All Gear
          a.sidebar-link(href='/catalog/categories') 
            span(class="material-icons md-18") music_note
            p All Categories         
          a.sidebar-link(href='/catalog/brands') 
            span(class="material-icons md-18") music_note
            p All Brands   
          hr       
          a.sidebar-link(href='/catalog/item/create') 
            span(class="material-icons md-18") add
            p Add Gear
          a.sidebar-link(href='/catalog/category/create')
            span(class="material-icons md-18") add
            p Add Category
          a.sidebar-link(href='/catalog/brand/create')
            span(class="material-icons md-18") add
            p Add Brand
            
      div(class='main-container')
        block content
    script(src='/javascripts/script.js')
