*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: #ffffff;
  --highlight: rgb(219, 219, 219);
  --alt-text-color: rgb(111, 111, 111);
  --btn-link: aquamarine;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--main-bg);
  color: black;
  height: 100vh;
  margin-bottom: 12px;
}

h1 {
  font-weight: 800;
  font-size: 3.2rem;
  text-align: center;
}

h4 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: clamp(80px, 100%, 300px);
}

textarea {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}

.body-container {
  width: 100vw;
  padding: 10px;
  display: flex;
  position: relative;
}

.burger-menu {
  display: none;
}

.sidebar {
  width: 180px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
}

.sidebar-link {
  border-radius: 40px;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-link:hover {
  background-color: var(--highlight);
}

.sidebar-link > p {
  font-size: 0.8rem;
}
.main-container {
  width: 100%;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.home-container {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.hero {
  max-width: 400px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.description {
  color: var(--alt-text-color);
}

.form-container {
  padding: 4px 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

label {
  font-size: 0.8rem;
  font-weight: 600;
}

.label-with-link {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 4px; */
}

.label-link {
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: underline;
}

.label-link:hover {
  background-color: var(--btn-link);
}

.form-control {
  padding: 4px;
  margin-top: 4px;
}

.checkboxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px;
}

.checkbox > label {
  font-weight: 400;
}

.checkbox-input {
  margin-top: 4px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}

button {
  border: none;
  font-family: "Inter", sans-serif;
}

.btn {
  min-width: 140px;
  padding: 8px 18px;
  border-radius: 20px;
  background-color: aquamarine;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.8rem;
}

.btn-alt {
  background-color: darkgrey;
}

a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.brand-link {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 0.8rem;
}

.brand-link:hover {
  background-color: var(--highlight);
  text-decoration: underline;
}

.items-container {
  padding: 8px;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.item-container {
  width: 240px;
  padding: 4px 12px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 16px;
}

.item-container:hover {
  background-color: var(--highlight);
}

.item-container > img {
  width: 40px;
  height: 40px;
  background-position: center;
  object-fit: cover;
}

.item-container > p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--alt-text-color);
}

.item-title {
  font-size: 0.8rem;
  font-weight: 600;
}

.categories-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 8px;
}

.category-container {
  width: 300px;
  padding: 16px;
  border-radius: 40px;
  display: flex;
  gap: 4px;
  text-decoration: none;
  color: black;
}

.category-container:hover {
  background-color: var(--highlight);
}

.section-img {
  width: clamp(120px, 100%, 400px);
}

.item-details {
  max-width: 400px;
  color: var(--alt-text-color);
}

@media screen and (max-width: 720px) {
  .home-container {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .sidebar.show {
    display: flex;
    z-index: 5;
    position: absolute;
    top: 10;
    left: 0;
  }

  .burger-menu {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .home-container {
    flex-direction: column;
  }

  .items-container {
    grid-template-columns: 1fr;
  }

  .form-container {
    width: 100%;
  }
}
